/* Self image */
#self-image{
    width: 400px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
    border-bottom-left-radius:0px;
    box-shadow:4px 6px 25px 0px #000000;
}
   
/* Self bio self paragraph */
#self-bio-self-paragraph{
    position:relative;
    left:450px;
    top:-250px;
}
   
/* Iframe */
iframe{
    width:1400px;
    height:800px;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}